@import "./system.css";

@font-face {
  font-display: swap;
  font-family: "InterVariable";
  font-style: normal;
  font-weight: 100 900;
  src: url("/InterVariable.subset.woff2") format("woff2");
}

.translated-rtl {
  direction: rtl;
}

* {
  box-sizing: border-box;
}

:root {
  overscroll-behavior: none;
}

:focus {
  outline: none;
}

:focus-visible {
  border-radius: var(--border-radius-focus);
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-width);
}

html,
body {
  block-size: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-feature-settings:
    "calt" 1,
    "ccmp" 1,
    "ss03" 1;
  font-optical-sizing: none;
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  margin: 0;
  -webkit-tap-highlight-color: color-mix(
    in srgb,
    var(--color-brand) 20%,
    transparent
  );
}

.visually-hidden {
  block-size: 0.0625rem;
  border: 0;
  clip-path: inset(50%);
  inline-size: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

button {
  align-items: center;
  background: var(--color-button-background);
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius-button);
  color: var(--color-interactive-neutral);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family);
  font-size: var(--font-01-size);
  justify-content: center;
  line-height: var(--font-01-line-height);
  padding-block: calc(var(--space-vertical-01) - var(--border-width));
  padding-inline: calc(var(--space-horizontal-04) - var(--border-width));

  &:focus-visible {
    border-radius: var(--border-radius-button);
  }
  @media (hover: hover) {
    &:hover {
      color: var(--color-interactive-neutral-hover);
    }
  }
  &:active {
    color: var(--color-interactive-neutral-active);
  }
}

button.button-primary {
  color: var(--color-interactive);

  @media (hover: hover) {
    &:hover {
      color: var(--color-interactive-hover);
    }
  }

  &:active {
    color: var(--color-interactive-active);
  }

  @container (min-inline-size: 48rem) {
    background-color: var(--color-interactive);
    border-color: var(--color-interactive);
    color: var(--color-interactive-contrast);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-interactive-hover);
        color: var(--color-interactive-contrast);
      }
    }

    &:active {
      background-color: var(--color-interactive-active);
      color: var(--color-interactive-contrast);
    }
  }
}

button.button-responsive {
  aspect-ratio: 1 / 1;
  block-size: 1.875rem;
  line-height: 1;
  padding: 0;

  & .button-text {
    block-size: 0.0625rem;
    clip-path: inset(50%);
    inline-size: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  @container (min-inline-size: 48rem) {
    aspect-ratio: inherit;
    block-size: auto;
    line-height: var(--font-01-line-height);
    padding-block: calc(var(--space-vertical-01) - var(--border-width));
    padding-inline: calc(var(--space-horizontal-04) - var(--border-width));

    & .button-text {
      block-size: auto;
      clip-path: none;
      inline-size: auto;
      margin: 0;
      overflow: hidden;
      position: static;
    }

    & svg {
      display: none;
    }
  }
}

.container {
  --outer-block-size: 3.75rem;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-block-size: 100%;
}

header {
  align-items: center;
  display: flex;
  inset-block-start: 0;
  inset-inline: 0;
  justify-content: space-between;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-04);
  position: sticky;

  @container (min-inline-size: 24rem) {
    padding-inline: var(--space-horizontal-05);
  }

  @container (min-inline-size: 48rem) {
    padding-inline: var(--space-horizontal-06);
  }
}

aside {
  align-items: stretch;
  background-color: var(--color-background-emphasis);
  border: var(--border-width) solid var(--color-border);
  border-end-end-radius: var(--border-radius-card);
  border-inline-start: none;
  border-start-end-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  inline-size: 18rem;
  inset-block-start: var(--outer-block-size);
  inset-inline-start: 0;
  justify-self: center;
  max-block-size: calc(
    100dvh - var(--outer-block-size) - var(--space-vertical-03)
  );
  position: fixed;

  &[hidden] {
    display: none;
  }
}

main {
  container-type: inline-size;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-05);

  @container (min-inline-size: 48rem) {
    padding-inline: var(--space-horizontal-07);
  }

  @container (min-inline-size: 72rem) {
    padding-block: var(--space-vertical-06);

    .container:has(aside:not([hidden])) & {
      margin-inline-start: 18rem;
    }
  }

  @container (min-inline-size: 107.5rem) {
    padding-block: var(--space-vertical-09);
  }

  @container (min-inline-size: 140rem) {
    padding-block: var(--space-vertical-12);

    .container:has(aside:not([hidden])) & {
      margin-inline-start: 0;
    }
  }
}

footer {
  align-items: center;
  display: flex;
  height: var(--outer-block-size);
  justify-content: space-between;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-04);

  @container (min-inline-size: 24rem) {
    padding-inline: var(--space-horizontal-05);
  }

  @container (min-inline-size: 48rem) {
    padding-inline: var(--space-horizontal-06);
  }
}

.header-title {
  align-items: center;
  display: flex;
  gap: var(--space-horizontal-03);
  margin-inline-start: calc(0rem - var(--space-horizontal-02));
}

#settingsBtn {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  block-size: 1.875rem;
  border: 0;
  color: var(--color-interactive-neutral);
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  padding: 0;

  &:focus-visible {
    border-radius: var(--border-radius-focus);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-interactive-neutral-hover);
    }
  }
  &:active {
    color: var(--color-interactive-neutral-active);
  }
}

h1 {
  font-size: var(--font-05-size);
  font-weight: 433;
  line-height: var(--font-05-line-height);
  margin: 0;
}

.header-actions {
  display: flex;
  gap: var(--space-horizontal-04);
  justify-content: flex-end;
}

.dropdown-menu {
  border-radius: var(--border-radius-button);
  position: relative;

  &:has([aria-expanded="true"]) {
    box-shadow: var(--box-shadow);
  }
}

.dropdown-button {
  &[aria-expanded="true"] {
    border-block-end-color: var(--color-border-light);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    position: relative;
    z-index: 1;
  }
}

#ratioBtn {
  font-variant-numeric: tabular-nums;
  min-inline-size: calc(56rem / 16);
}

.dropdown-menu-panel {
  background-color: var(--color-background-emphasis);
  border: var(--border-width) solid var(--color-border);
  border-block-start: 0;
  border-end-end-radius: var(--border-radius-button);
  border-end-start-radius: var(--border-radius-button);
  display: grid;
  inline-size: 100%;
  inset-block-start: 100%;
  inset-inline-end: 0;
  padding-block-end: calc(var(--space-vertical-02) - var(--border-width));
  padding-block-start: var(--space-vertical-02);
  position: absolute;

  &[hidden] {
    display: none;
  }
}

#exportBtn + .dropdown-menu-panel {
  border-block-start: var(--border-width) solid var(--color-border);
  inline-size: auto;
  margin-block-start: -0.0625rem;
}

.dropdown-menu-panel button,
.dropdown-menu-panel [role="option"] {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-focus);
  cursor: pointer;
  font-variant-numeric: tabular-nums;
  inline-size: 100%;
  justify-content: flex-end;
  padding-block: var(--space-vertical-01);
  padding-inline: calc(var(--space-horizontal-04) - var(--border-width));
  text-align: right;
  white-space: nowrap;

  &:focus-visible {
    border-radius: var(--border-radius-button);
    outline-offset: calc(-2 * var(--outline-width));
  }

  &[aria-selected="true"] {
    color: var(--color-interactive-prose);
  }

  &:active {
    color: var(--color-interactive-active);
  }

  @media (hover: hover) {
    &:not([aria-selected="true"]):hover {
      color: var(--color-interactive-neutral-hover);
    }
  }

  &:not([aria-selected="true"]):active {
    color: var(--color-interactive-neutral-active);
  }
}

#sketchContainer {
  background: var(--color-background);
  border-radius: var(--border-radius-image);
  box-shadow: var(--box-shadow);
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: 67.5rem;
  overflow: hidden;

  @container (min-inline-size: 103.5rem) {
    max-inline-size: 100rem;
  }
}

canvas {
  block-size: auto;
  display: block;
  inline-size: 100%;
}

.control-header {
  background-color: var(--color-background-emphasis);
  border-block-end: var(--border-width) solid var(--color-border-light);
  border-start-end-radius: var(--border-radius-card);
  inline-size: 100%;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-04);
}

.control-component {
  border: 0;
  display: flex;
  gap: var(--space-horizontal-04);
  margin: 0;
  padding-block: 0;
  padding-inline: var(--space-horizontal-03);
}

.component-option {
  --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjAgMzYwIj48cGF0aCBkPSJNMzYwIDM2MFYyMjRDMzYwIDEwMC41IDI1OS41IDAgMTM2IDBIMHYxNjBoMTM2YzM1LjMgMCA2NCAyOC43IDY0IDY0djEzNmgxNjBaIiBmaWxsPSJjdXJyZW50Q29sb3IiIC8+PC9zdmc+");
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-button);
  block-size: 1.875rem;
  display: flex;
  justify-content: center;
  position: relative;


  &:has(:focus-visible) {
    outline: var(--outline-width) solid var(--color-interactive-focus);
  }

  &::before {
    background-color: var(--color-background-emphasis);
    content: "";
    cursor: pointer;
    inset: var(--space-vertical-01);
    position: absolute;
  }

  &::after {
    background-color: var(--color-non-text-muted);
    content: "";
    cursor: pointer;
    forced-color-adjust: none;
    inset: var(--space-vertical-01);
    -webkit-mask: var(--mask-image) center / contain no-repeat;
    mask: var(--mask-image) center / contain no-repeat;
    position: absolute;
  }

  @media (hover: hover) {
    &:hover::after {
      background-color: var(--color-interactive-neutral-hover);
    }
  }

  &:has(input:checked)::after {
    background-color: var(--color-interactive-neutral);
  }

  &:has([value="ls"])::after {
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNjAgMzYwIj48cGF0aCBkPSJNMzYwIDIyNEMzNjAgMTAwLjUgMjU5LjUgMCAxMzYgMEgwdjM2MGgzNjBWMjI0WiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+");
  }

  &:has([value="lt"])::after {
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3MjAgNzIwIj48cGF0aCBkPSJNNDk2LDcyMEgyMjRDMTAwLjUsNzIwLDAsNjE5LjUsMCw0OTZWMjI0QzAsMTAwLjUsMTAwLjUsMCwyMjQsMGgyNzJjMTIzLjUsMCwyMjQsMTAwLjUsMjI0LDIyNHYyNzJjMCwxMjMuNS0xMDAuNSwyMjQtMjI0LDIyNGgwWiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+");
  }

  &:has([value="ss"])::after {
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj48cGF0aCBkPSJNMjAwLDY0QzIwMCwyOC43LDE3MS4zLDAsMTM2LDBIMHYyMDBoMjAwVjY0aDBaIiBmaWxsPSJjdXJyZW50Q29sb3IiLz48L3N2Zz4=");
  }

  &:has([value="st"])::after {
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0MDAgNDAwIj48cGF0aCBkPSJtNjQgMGMtMzUuMyAwLTY0IDI4LjctNjQgNjR2MjcyYzAgMzUuMyAyOC43IDY0IDY0IDY0aDI3MmMzNS4zIDAgNjQtMjguNyA2NC02NHYtMjcyYzAtMzUuMy0yOC43LTY0LTY0LTY0eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+");
  }

  &:has([value="mx"])::after {
    --mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3MjAgNzIwIj48cGF0aCBkPSJNNDk2IDcyMEgyMjRDMTAwLjUgNzIwIDAgNjE5LjUgMCA0OTZWMjI0QzAgMTAwLjUgMTAwLjUgMCAyMjQgMGgyNzJjMTIzLjUgMCAyMjQgMTAwLjUgMjI0IDIyNHYyNzJjMCAxMjMuNS0xMDAuNSAyMjQtMjI0IDIyNFpNMjI0IDE2MGMtMzUuMyAwLTY0IDI4LjctNjQgNjR2MjcyYzAgMzUuMyAyOC43IDY0IDY0IDY0aDI3MmMzNS4zIDAgNjQtMjguNyA2NC02NFYyMjRjMC0zNS4zLTI4LjctNjQtNjQtNjRIMjI0WiIgZmlsbD0iY3VycmVudENvbG9yIiAvPjwvc3ZnPg==");
  }
}

.control-colour {
  border: 0;
  display: flex;
  gap: var(--space-horizontal-04);
  margin: 0;
  padding-block: 0;
  padding-inline: var(--space-horizontal-03);
}

.color-option {
  --swatch-color: var(--color-interactive-neutral);
  --swatch-border-color: var(--swatch-color);
  align-items: center;
  aspect-ratio: 1 / 1;
  block-size: 1.875rem;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    background-color: var(--color-background-emphasis);
    content: "";
    cursor: pointer;
    inset: var(--space-vertical-01);
    position: absolute;
  }

  &::after {
    background-color: var(--swatch-color);
    border: 0.0625rem solid var(--swatch-border-color);
    border-radius: 100%;
    content: "";
    cursor: pointer;
    inset: calc(var(--space-vertical-01));
    opacity: 0.64;
    position: absolute;
  }

  @media (hover: hover) {
    &:hover::after {
      opacity: 0.84;
    }
  }

  &:has(input:checked)::after {
    opacity: 1;
    outline: var(--outline-width) solid var(--color-interactive);
    outline-offset: var(--outline-width);
  }

  &:has(input:checked):has(:focus-visible)::after {
    outline-color: var(--color-interactive-focus);
  }

  &:has([value="ad"]) {
    --swatch-color: var(--color-azure-04);
  }

  &:has([value="al"]) {
    --swatch-color: var(--color-azure-07);
    --swatch-border-color: var(--color-azure-03);
  }

  &:has([value="cy"]) {
    --swatch-color: var(--color-cyan-05);
  }

  &:has([value="or"]) {
    --swatch-color: var(--color-orange-07);
    --swatch-border-color: var(--color-orange-03);
  }

  &:has([value="nl"]) {
    --swatch-color: var(--color-grey-12);
    --swatch-border-color: var(--color-interactive-neutral);
  }

  @media (prefers-color-scheme: dark) {
    &:has([value="ad"]) {
      --swatch-border-color: var(--color-azure-08);
    }

    &:has([value="al"]) {
      --swatch-border-color: var(--swatch-color);
    }

    &:has([value="cy"]) {
      --swatch-border-color: var(--color-cyan-08);
    }

    &:has([value="or"]) {
      --swatch-border-color: var(--swatch-color);
    }

    &:has([value="nd"]) {
      --swatch-color: var(--color-grey-01);
      --swatch-border-color: var(--color-interactive-neutral);
    }

    &:has([value="nl"]) {
      --swatch-border-color: var(--swatch-color);
    }
  }
}

.control-main {
  display: flex;
  flex-direction: column;
  gap: var(--space-vertical-03);
  overflow-y: auto;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-04);
}

.control-section {
  background-color: var(--color-background-emphasis);
  border-radius: var(--border-radius-button);
  display: flex;
  flex-direction: column;
  gap: var(--space-vertical-03);
  outline: var(--border-width) solid var(--color-border-light);
  padding-block: var(--space-vertical-03);
}

.control-group {
  align-items: center;
  display: grid;
  gap: var(--space-horizontal-04);
  grid-template-columns: minmax(6ch, auto) 1fr 3ch;
  padding-inline: var(--space-horizontal-04);
}

.control-group label {
  color: var(--color-interactive-neutral);
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  white-space: nowrap;

  .control-group:has([disabled]) & {
    color: var(--color-text-muted);
  }
}

.control-group input[type="range"] {
  accent-color: var(--color-interactive);
  cursor: pointer;
  inline-size: 100%;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
    @media (prefers-color-scheme: dark) {
      opacity: 0.1;
    }
  }

  &::-webkit-slider-thumb {
    background: var(--color-interactive);
  }
}

.control-value {
  color: var(--color-text-prose);
  font-variant-numeric: tabular-nums;
  text-align: end;

  .control-group:has([disabled]) & {
    color: var(--color-text-muted);
  }
}

.control-footer {
  background-color: var(--color-background-emphasis);
  border-block-start: var(--border-width) solid var(--color-border-light);
  border-end-end-radius: var(--border-radius-card);
  /* display: grid;
  gap: var(--space-horizontal-04);
  grid-template-columns: 1fr 1fr; */
  inline-size: 100%;
  margin-block-start: auto;
  padding-block: var(--space-vertical-03);
  padding-inline: var(--space-horizontal-04);
}

.control-footer button {
  inline-size: 100%;
}

.logo {
  color: var(--color-logo-neutral);
  display: flex;
}

.footer-links {
  align-self: flex-end;
  color: var(--color-text-prose);
  line-height: 1.285714;
  text-align: end;
}

.footer-link {
  color: var(--color-interactive-neutral);
  text-decoration: none;
  white-space: nowrap;

  @media (hover: hover) {
    &:hover {
      color: var(--color-interactive-neutral-hover);
    }
  }

  &:active {
    color: var(--color-interactive-neutral-active);
  }
}
